<div class="auth-container">
  <div class="auth-card">
    <img src="/fitness-tracker.png" alt="Fitness Tracker Logo" class="auth-logo" />

    <h2 class="auth-title">Sign up</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <input type="email" formControlName="email" placeholder="Email" />
        <small class="error" *ngIf="email?.touched && email?.invalid">
          Valid email is required
        </small>
      </div>

      <div class="form-group password-group">
        <input [type]="showPassword ? 'text' : 'password'"
               formControlName="password"
               placeholder="Password" />

        <span class="material-icons eye-btn" (click)="togglePassword()">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </span>

        <small class="error" *ngIf="password?.touched && password?.invalid">
          Min 8 chars, uppercase, lowercase & special character
        </small>
      </div>

      <div class="form-group password-group">
        <input [type]="showConfirm ? 'text' : 'password'"
               formControlName="confirmPassword"
               placeholder="Confirm Password" />

        <span class="material-icons eye-btn" (click)="toggleConfirm()">
          {{ showConfirm ? 'visibility_off' : 'visibility' }}
        </span>

        <small class="error"
               *ngIf="registerForm.hasError('mismatch') &&
                  registerForm.get('confirmPassword')?.touched">
          Passwords do not match
        </small>
      </div>

      <button type="submit" class="btn-login" [disabled]="registerForm.invalid">
        Create Account
      </button>

    </form>

    <p class="switch-text">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>

  </div>
</div>
